<h1>All Cars</h1>

<% @cars.each do |car| %>
  <ul>
    <li><%= link_to car.name, car %></li>
  </ul>
<% end %>

<br>
<hr>

<%= button_to("Add Car", new_car_path, :method => :get, :form_class => "car-btn-class") %>
